@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400;500;700&family=Bebas+Neue&family=Poppins:wght@300;400;500;600;700&family=Playfair+Display:wght@400;600;700&family=Cinzel:wght@400;600;700&family=Montserrat:wght@300;400;500;600;700&family=Oswald:wght@300;400;500;600&family=Raleway:wght@300;400;500;600;700&family=Fredoka:wght@300;400;500;600;700&family=Bangers&family=Lobster&display=swap');

@import "tailwindcss";

.logo-font {
  font-family: 'Bebas Neue', sans-serif;
}

.pixel-font {
  font-family: 'Pixelify Sans', sans-serif;
}

.poppins-font {
  font-family: 'Poppins', sans-serif;
}